
.section_topics {
  display: flex;
  justify-content: center;
}

.section_topics li{
  margin: 5px;
  padding: 5px;
}

.section_topics li:hover {
  background-color: $light-gray;
  border-radius: 3px;
}


.section_topics .all_hover:hover {
  background-color: white;
  text-decoration: underline;
}